{
  "channeldata": {
    "activate.d": false,
    "binary_prefix": true,
    "deactivate.d": false,
    "description": "KConfig provides an advanced configuration system. It is made of two parts: KConfigCore and KConfigGui.",
    "dev_url": "https://cgit.kde.org/kconfig.git/tree",
    "doc_source_url": null,
    "doc_url": null,
    "home": "https://api.kde.org/frameworks/kconfig/html/index.html",
    "icon_hash": null,
    "icon_url": null,
    "identifiers": null,
    "keywords": null,
    "license": "LGPL-v2.1-or-later",
    "post_link": false,
    "pre_link": false,
    "pre_unlink": false,
    "recipe_origin": null,
    "run_exports": {
      "5.64.0": {
        "weak": [
          "kconfig >=5.64.0,<5.65.0a0"
        ]
      }
    },
    "source_git_url": null,
    "source_url": "https://download.kde.org/stable/frameworks/5.64/kconfig-5.64.0.tar.xz",
    "subdirs": [
      "linux-64"
    ],
    "summary": "Persistent platform-independent application settings.",
    "tags": null,
    "text_prefix": true,
    "timestamp": 1574182102,
    "version": "5.64.0"
  },
  "channeldata_version": 1,
  "feedstock": null,
  "labels": [
    "cf202003"
  ],
  "package": "kconfig-5.64.0-he1b5a44_0.tar.bz2",
  "repodata": {
    "build": "he1b5a44_0",
    "build_number": 0,
    "depends": [
      "libgcc-ng >=7.3.0",
      "libstdcxx-ng >=7.3.0",
      "qt >=5.12.5,<5.13.0a0"
    ],
    "license": "LGPL-v2.1-or-later",
    "license_family": "GPL",
    "md5": "435fdb7824eeeec972481fb28e098bc2",
    "name": "kconfig",
    "sha256": "0f540e53f8f6c86b62979c875df6d0be75e0a3b9ca5560ba601fec790dcb7c71",
    "size": 429132,
    "subdir": "linux-64",
    "timestamp": 1574182102369,
    "version": "5.64.0"
  },
  "repodata_version": 1,
  "subdir": "linux-64",
  "url": "https://conda.anaconda.org/conda-forge/label/cf202003/linux-64/kconfig-5.64.0-he1b5a44_0.tar.bz2"
}