{
  "channeldata": {
    "activate.d": false,
    "binary_prefix": true,
    "deactivate.d": false,
    "description": "KConfig provides an advanced configuration system. It is made of two parts: KConfigCore and KConfigGui.",
    "dev_url": "https://cgit.kde.org/kconfig.git/tree",
    "doc_source_url": null,
    "doc_url": null,
    "home": "https://api.kde.org/frameworks/kconfig/html/index.html",
    "icon_hash": null,
    "icon_url": null,
    "identifiers": null,
    "keywords": null,
    "license": "BSD-2-Clause AND BSD-3-Clause AND GPL-2.0-or-later AND LGPL-2.0-only AND LGPL-2.0-or-later AND LGPL-2.1-only AND LGPL-3.0-only AND LicenseRef-KDE-Accepted-LGPL AND MIT",
    "post_link": false,
    "pre_link": false,
    "pre_unlink": false,
    "recipe_origin": null,
    "run_exports": {
      "5.76.0": {
        "weak": [
          "kconfig >=5.76.0,<5.77.0a0"
        ]
      }
    },
    "source_git_url": null,
    "source_url": "https://download.kde.org/stable/frameworks/5.76/kconfig-5.76.0.tar.xz",
    "subdirs": [
      "linux-64"
    ],
    "summary": "Persistent platform-independent application settings.",
    "tags": null,
    "text_prefix": true,
    "timestamp": 1605375026,
    "version": "5.76.0"
  },
  "channeldata_version": 1,
  "feedstock": "kconfig-feedstock",
  "labels": [
    "main"
  ],
  "package": "kconfig-5.76.0-h58526e2_0.tar.bz2",
  "repodata": {
    "build": "h58526e2_0",
    "build_number": 0,
    "depends": [
      "libgcc-ng >=7.5.0",
      "libstdcxx-ng >=7.5.0",
      "qt >=5.12.9,<5.13.0a0"
    ],
    "license": "BSD-2-Clause AND BSD-3-Clause AND GPL-2.0-or-later AND LGPL-2.0-only AND LGPL-2.0-or-later AND LGPL-2.1-only AND LGPL-3.0-only AND LicenseRef-KDE-Accepted-LGPL AND MIT",
    "md5": "691e8b2d21acacd7457fe1c8d9d9edf2",
    "name": "kconfig",
    "sha256": "3d90e3493d74e49c3d38fa0e992dce9d9c2b09933bd8dab5129bbc1e6603844f",
    "size": 485748,
    "subdir": "linux-64",
    "timestamp": 1605375026679,
    "version": "5.76.0"
  },
  "repodata_version": 1,
  "subdir": "linux-64",
  "url": "https://github.com/regro/releases/releases/download/linux-64/kconfig-5.76.0-h58526e2_0.tar.bz2/kconfig-5.76.0-h58526e2_0.tar.bz2"
}