{
  "channeldata": {
    "activate.d": false,
    "binary_prefix": true,
    "deactivate.d": false,
    "description": "KConfig provides an advanced configuration system. It is made of two parts: KConfigCore and KConfigGui.",
    "dev_url": "https://cgit.kde.org/kconfig.git/tree",
    "doc_source_url": null,
    "doc_url": null,
    "home": "https://api.kde.org/frameworks/kconfig/html/index.html",
    "icon_hash": null,
    "icon_url": null,
    "identifiers": null,
    "keywords": null,
    "license": "BSD-2-Clause AND BSD-3-Clause AND GPL-2.0-or-later AND LGPL-2.0-only AND LGPL-2.0-or-later AND LGPL-2.1-only AND LGPL-3.0-only AND LicenseRef-KDE-Accepted-LGPL AND MIT",
    "post_link": false,
    "pre_link": false,
    "pre_unlink": false,
    "recipe_origin": null,
    "run_exports": {
      "5.74.0": {
        "weak": [
          "kconfig >=5.74.0,<5.75.0a0"
        ]
      }
    },
    "source_git_url": null,
    "source_url": "https://download.kde.org/stable/frameworks/5.74/kconfig-5.74.0.tar.xz",
    "subdirs": [
      "linux-64"
    ],
    "summary": "Persistent platform-independent application settings.",
    "tags": null,
    "text_prefix": true,
    "timestamp": 1600107785,
    "version": "5.74.0"
  },
  "channeldata_version": 1,
  "feedstock": "kconfig-feedstock",
  "labels": [
    "main"
  ],
  "package": "kconfig-5.74.0-he1b5a44_0.tar.bz2",
  "repodata": {
    "build": "he1b5a44_0",
    "build_number": 0,
    "depends": [
      "libgcc-ng >=7.5.0",
      "libstdcxx-ng >=7.5.0",
      "qt >=5.12.9,<5.13.0a0"
    ],
    "license": "BSD-2-Clause AND BSD-3-Clause AND GPL-2.0-or-later AND LGPL-2.0-only AND LGPL-2.0-or-later AND LGPL-2.1-only AND LGPL-3.0-only AND LicenseRef-KDE-Accepted-LGPL AND MIT",
    "md5": "ea9ff62e6436d842dae7884785caa161",
    "name": "kconfig",
    "sha256": "ca6bc32202573cdd9f7b8ad5ea426d842422760dd2032d21b8cc46dec8d7e77e",
    "size": 481621,
    "subdir": "linux-64",
    "timestamp": 1600107785551,
    "version": "5.74.0"
  },
  "repodata_version": 1,
  "subdir": "linux-64",
  "url": "https://github.com/regro/releases/releases/download/linux-64/kconfig-5.74.0-he1b5a44_0.tar.bz2/kconfig-5.74.0-he1b5a44_0.tar.bz2"
}