{
  "channeldata": {
    "activate.d": false,
    "binary_prefix": true,
    "deactivate.d": false,
    "description": "KConfig provides an advanced configuration system. It is made of two parts: KConfigCore and KConfigGui.",
    "dev_url": "https://cgit.kde.org/kconfig.git/tree",
    "doc_source_url": null,
    "doc_url": null,
    "home": "https://api.kde.org/frameworks/kconfig/html/index.html",
    "icon_hash": null,
    "icon_url": null,
    "identifiers": null,
    "keywords": null,
    "license": "LGPL-v2.1-or-later",
    "post_link": false,
    "pre_link": false,
    "pre_unlink": false,
    "recipe_origin": null,
    "run_exports": {
      "5.66.0": {
        "weak": [
          "kconfig >=5.66.0,<5.67.0a0"
        ]
      }
    },
    "source_git_url": null,
    "source_url": "https://download.kde.org/stable/frameworks/5.66/kconfig-5.66.0.tar.xz",
    "subdirs": [
      "linux-64"
    ],
    "summary": "Persistent platform-independent application settings.",
    "tags": null,
    "text_prefix": true,
    "timestamp": 1579986868,
    "version": "5.66.0"
  },
  "channeldata_version": 1,
  "feedstock": null,
  "labels": [
    "main",
    "cf202003"
  ],
  "package": "kconfig-5.66.0-he1b5a44_0.tar.bz2",
  "repodata": {
    "build": "he1b5a44_0",
    "build_number": 0,
    "depends": [
      "libgcc-ng >=7.3.0",
      "libstdcxx-ng >=7.3.0",
      "qt >=5.12.5,<5.13.0a0"
    ],
    "license": "LGPL-v2.1-or-later",
    "license_family": "GPL",
    "md5": "f6c3cb0cafe06357475cc0483dd2ea81",
    "name": "kconfig",
    "sha256": "3f04e900c1d160aac1b52bdb081b833a1a312fd9162614382237a85ad39c8249",
    "size": 436944,
    "subdir": "linux-64",
    "timestamp": 1579986868254,
    "version": "5.66.0"
  },
  "repodata_version": 1,
  "subdir": "linux-64",
  "url": "https://github.com/regro/releases/releases/download/linux-64/kconfig-5.66.0-he1b5a44_0.tar.bz2/kconfig-5.66.0-he1b5a44_0.tar.bz2"
}