{
  "channeldata": {
    "activate.d": false,
    "binary_prefix": false,
    "deactivate.d": false,
    "description": "KConfigWidgets provides easy-to-use classes to create configuration dialogs, as well as a set of widgets which uses KConfig to store their settings.",
    "dev_url": "https://cgit.kde.org/kconfigwidgets.git/tree",
    "doc_source_url": null,
    "doc_url": null,
    "home": "https://api.kde.org/frameworks/kconfigwidgets/html/index.html",
    "icon_hash": null,
    "icon_url": null,
    "identifiers": null,
    "keywords": null,
    "license": "BSD-3-Clause AND GPL-2.0-or-later AND LGPL-2.0-only AND LGPL-2.0-or-later AND LGPL-2.1-only AND LGPL-3.0-only AND LicenseRef-KDE-Accepted-LGPL AND MIT",
    "post_link": false,
    "pre_link": false,
    "pre_unlink": false,
    "recipe_origin": null,
    "run_exports": {
      "5.74.0": {
        "weak": [
          "kconfigwidgets >=5.74.0,<5.75.0a0"
        ]
      }
    },
    "source_git_url": null,
    "source_url": "https://download.kde.org/stable/frameworks/5.74/kconfigwidgets-5.74.0.tar.xz",
    "subdirs": [
      "linux-64"
    ],
    "summary": "Widgets for configuration dialogs",
    "tags": null,
    "text_prefix": true,
    "timestamp": 1600133652,
    "version": "5.74.0"
  },
  "channeldata_version": 1,
  "feedstock": "kconfigwidgets-feedstock",
  "labels": [
    "main"
  ],
  "package": "kconfigwidgets-5.74.0-h73816c6_0.tar.bz2",
  "repodata": {
    "build": "h73816c6_0",
    "build_number": 0,
    "depends": [
      "kauth >=5.74.0,<5.75.0a0",
      "kcodecs >=5.74.0,<5.75.0a0",
      "kconfig >=5.74.0,<5.75.0a0",
      "kcoreaddons >=5.74.0,<5.75.0a0",
      "kguiaddons >=5.74.0,<5.75.0a0",
      "ki18n >=5.74.0,<5.75.0a0",
      "kwidgetsaddons >=5.74.0,<5.75.0a0",
      "libgcc-ng >=7.5.0",
      "libstdcxx-ng >=7.5.0",
      "qt >=5.12.9,<5.13.0a0"
    ],
    "license": "BSD-3-Clause AND GPL-2.0-or-later AND LGPL-2.0-only AND LGPL-2.0-or-later AND LGPL-2.1-only AND LGPL-3.0-only AND LicenseRef-KDE-Accepted-LGPL AND MIT",
    "md5": "8cd45bd20aecaad77ab8c7d466687d8b",
    "name": "kconfigwidgets",
    "sha256": "a28bab37b0d3ba533f481b2e561b0a7d6ae16e67ec0c2896724b1a6949cb5de5",
    "size": 437535,
    "subdir": "linux-64",
    "timestamp": 1600133652586,
    "version": "5.74.0"
  },
  "repodata_version": 1,
  "subdir": "linux-64",
  "url": "https://github.com/regro/releases/releases/download/linux-64/kconfigwidgets-5.74.0-h73816c6_0.tar.bz2/kconfigwidgets-5.74.0-h73816c6_0.tar.bz2"
}