name: release

on:
  repository_dispatch: null

jobs:
  release:
    name: release
    runs-on: "ubuntu-latest"
    steps:
      - name: generate token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.CF_CURATOR_APP_ID }}
          private_key: ${{ secrets.CF_CURATOR_PRIVATE_KEY }}

      - name: get env file
        shell: bash -l {0}
        run: |
          wget https://raw.githubusercontent.com/conda-forge/repodata-tools/main/environment.yml

      - name: install micromamba
        uses: mamba-org/provision-with-micromamba@main

      - name: make release
        shell: bash -l {0}
        run: |
          git config --global user.email 'pelson.pub+conda-forge@gmail.com'
          git config --global user.name 'conda-forge-admin'
          git config --global pull.rebase false

          git clone --no-tags https://github.com/conda-forge/releases.git
          pushd releases
          repo_url=https://x-access-token:${GITHUB_TOKEN}@github.com/conda-forge/releases.git
          git remote set-url --push origin ${repo_url}
          popd

          git clone --depth=1 https://github.com/conda-forge/repodata-tools.git
          pushd repodata-tools
          pip install -e .
          popd

          pushd releases
          make-github-release
          popd
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
