name: remove undistributable

on:
  schedule:
    - cron:  '0 * * * *'
  workflow_dispatch: null

jobs:
  remove_undistributable:
    name: remove undistributable
    runs-on: "ubuntu-latest"
    steps:
      - name: turnstyle
        uses: beckermr/turnstyle-python@v1
        with:
          poll-interval-seconds: 5
          abort-after-seconds: 10
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: generate token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.CF_CURATOR_APP_ID }}
          private_key: ${{ secrets.CF_CURATOR_PRIVATE_KEY }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: get env file
        shell: bash -l {0}
        run: |
          wget https://raw.githubusercontent.com/conda-forge/repodata-tools/main/environment.yml

      - name: install micromamba
        uses: mamba-org/provision-with-micromamba@main

      - name: remove undistributable
        shell: bash -l {0}
        run: |        
          git config --global user.email 'pelson.pub+conda-forge@gmail.com'
          git config --global user.name 'conda-forge-admin'
          git config --global pull.rebase false

          pushd ..
          git clone --depth=1 https://github.com/conda-forge/repodata-tools.git
          pushd repodata-tools
          pip install -e .
          popd
          popd

          pushd ${GITHUB_WORKSPACE}

          repo_url=https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          git remote set-url --push origin ${repo_url}

          export UPLOAD_SLEEP_FACTOR="0.1"
          remove-undistributable --rank=0 --n-ranks=1

          popd
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
          DELTAG_GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
