name: repodata

on:
  workflow_dispatch: null
  schedule:
    - cron:  '0 * * * *'

jobs:
  repodata:
    name: repodata
    runs-on: "ubuntu-latest"
    steps:
      - name: run
        id: turnstyle
        uses: beckermr/turnstyle-python@v1
        with:
          poll-interval-seconds: 10
          continue-after-seconds: 600
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: get env file
        if: success() && ! steps.turnstyle.outputs.force_continued
        shell: bash -l {0}
        run: |
          wget https://raw.githubusercontent.com/conda-forge/repodata-tools/main/environment.yml

      - name: install micromamba
        if: success() && ! steps.turnstyle.outputs.force_continued
        uses: mamba-org/provision-with-micromamba@main

      - name: install code
        if: success() && ! steps.turnstyle.outputs.force_continued
        shell: bash -l {0}
        run: |
          git config --global user.email "79913779+conda-forge-curator[bot]@users.noreply.github.com"
          git config --global user.name "conda-forge-curator[bot]"
          git config --global pull.rebase false

          pushd ..
          git clone https://github.com/conda-forge/repodata-tools.git
          pushd repodata-tools
          pip install -e .
          popd
          popd

      - name: generate token 1
        if: github.ref == 'refs/heads/main' && ! steps.turnstyle.outputs.force_continued && ! cancelled()
        id: generate_token_1
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.CF_CURATOR_APP_ID }}
          private_key: ${{ secrets.CF_CURATOR_PRIVATE_KEY }}

      - name: make repodata 1
        if: success() && ! steps.turnstyle.outputs.force_continued
        shell: bash -l {0}
        run: |
          if [[ ${GITHUB_REF} == "refs/heads/main" ]]; then
            run-repodata-worker --make-releases --main-only 2700
          else
            run-repodata-worker 300
          fi
        env:
          GITHUB_TOKEN: ${{ steps.generate_token_1.outputs.token }}

      - name: generate token 2
        if: github.ref == 'refs/heads/main' && ! steps.turnstyle.outputs.force_continued && ! cancelled()
        id: generate_token_2
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.CF_CURATOR_APP_ID }}
          private_key: ${{ secrets.CF_CURATOR_PRIVATE_KEY }}

      - name: make repodata 2
        if: success() && ! steps.turnstyle.outputs.force_continued
        shell: bash -l {0}
        run: |
          if [[ ${GITHUB_REF} == "refs/heads/main" ]]; then
            run-repodata-worker --make-releases --main-only 2700
          fi
        env:
          GITHUB_TOKEN: ${{ steps.generate_token_2.outputs.token }}

      - name: generate token 3
        if: github.ref == 'refs/heads/main' && ! steps.turnstyle.outputs.force_continued && ! cancelled()
        id: generate_token_3
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.CF_CURATOR_APP_ID }}
          private_key: ${{ secrets.CF_CURATOR_PRIVATE_KEY }}

      - name: make repodata 3
        if: success() && ! steps.turnstyle.outputs.force_continued
        shell: bash -l {0}
        run: |
          if [[ ${GITHUB_REF} == "refs/heads/main" ]]; then
            run-repodata-worker --make-releases --main-only 2700
          fi
        env:
          GITHUB_TOKEN: ${{ steps.generate_token_3.outputs.token }}

      - name: generate token
        if: github.ref == 'refs/heads/main' && ! steps.turnstyle.outputs.force_continued && ! cancelled()
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.CF_CURATOR_APP_ID }}
          private_key: ${{ secrets.CF_CURATOR_PRIVATE_KEY }}
      
      - name: trigger next job
        if: github.ref == 'refs/heads/main' && ! steps.turnstyle.outputs.force_continued && ! cancelled()
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: repodata
          token: ${{ steps.generate_token.outputs.token }}
