name: update-shards-3

on:
  schedule:
    - cron:  '45 * * * *'
  workflow_dispatch: null

jobs:
  update_shards:
    name: update repodata shards
    runs-on: "ubuntu-latest"
    steps:
      - name: turnstyle
        uses: beckermr/turnstyle-python@v1
        with:
          poll-interval-seconds: 5
          abort-after-seconds: 10
          github-token: ${{ secrets.GITHUB_TOKEN }}    

      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.CF_CURATOR_APP_ID }}
          private_key: ${{ secrets.CF_CURATOR_PRIVATE_KEY }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.7
          channels: conda-forge,defaults
          channel-priority: strict
          show-channel-urls: true

      - name: get repodata shards
        shell: bash -l {0}
        run: |
          export RANK=3
          source index_shards.sh
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
          BINSTAR_TOKEN: ${{ secrets.BINSTAR_TOKEN }}
